//! **************************************************************************
// Written by: Map M.81d on Sun Jul 17 23:07:39 2022
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

